<section class="Main p-5 d-flex justify-content-center" style="height: auto;">
<div class="presentacion card p-5 shadow w-75 h-auto" style="min-height: auto;">
   
    <div class="info d-flex">

        <div class="imagen w-50 ps-5">
        <img class="card" src="https://m.media-amazon.com/images/M/MV5BZDA0OGQxNTItMDZkMC00N2UyLTg3MzMtYTJmNjg3Nzk5MzRiXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_SX300.jpg" alt="">
        </div>

        <div class="info w-50 d-flex flex-column ">
            <p class="fs-2 text-center">Avatar</p>
            <p class="fs-5 mt-4">Año:</p>
            <p class="fs-5 mt-4 mb-4">Director: James </p>
            <p class="fs-5">Actores: </p>

            <a class="btn btn-primary w-75 mt-5" href="###">Ver ahora</a>
        </div>
    </div>
   
   

</div>
</section>